<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="css/bootstrap.min.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
</head>
<body style="background: #DDDDEE;">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/javascripts/jquery.form.js"></script>
<script src="/javascripts/upload.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-filestyle.min.js"></script>
<script src="js/md5.min.js"></script>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (clientName = getCookie('name')) {
      setClientId(md5(clientName));
      setClientName(clientName);
      showWelcome(clientName);
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      $('#login_message').show(duration=2000);
      $('#uploadForm').hide(duration=2000);
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      $('#login_message').show(duration=2000);
      $('#uploadForm').hide(duration=2000);
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1455448574748935',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?locale=zh_TW', function(response) {
      setClientId(response.id);
      setClientName(response.name);
      showWelcome(response.name);
    });
  }

  function showWelcome(name) {
    console.log('Successful login for: ' + name);
      document.getElementById('status').innerHTML =
        '歡迎你, ' + name + '!';
      $('#login_message').hide();
      $('#Welcome_message').show(duration=2000);
      $('#uploadForm').show(duration=2000);
  }

</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<div id="login_message" style="display:none">
  <button id="askName" type="button" class="btn btn-success btn-lg" onClick="askName();">輸入您的大名</button>
  <p><p>或使用Facebook登入 <fb:login-button data-auto-logout-link="true" scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>
</div>

<div id="Welcome_message" style="display:none">
<button class="btn btn-info btn-md" onClick="logOut();">logout</button>
<h1><label id="status"></label></h1>
</div>


<form id="uploadForm"
          enctype="multipart/form-data"
          action=""
          method="post"
          style="display: none"
          >
  <h3><label>祝福的話:</label></h3>
  <textarea class="form-control" rows="4" cols="50" form="uploadForm" name="userText"></textarea><br>

  <input type="file" class="filestyle" id="userPhotoInput" name="userPhoto" accept="image/*"/><br>

  <button type="button" class="btn btn-success btn-lg" onClick="$('#uploadForm').submit()">上傳</button>
</form>

<script>
  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
  }

  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1);
      if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
    }
    return "";
  }

  function askName() {
    var name = prompt("請問您的大名？", "");
    if (name != null) {
        setCookie('name', name, 365);
        setClientId(md5(name));
        setClientName(name);
        showWelcome(name);
    }
  }

  function logOut() {
    $('#login_message').show(duration=2000);
    $('#Welcome_message').hide(duration=2000);
    $('#uploadForm').hide(duration=2000);
    setCookie('name', '', -1);
  }

  $(":file").filestyle({buttonBefore: true, size: "lg", buttonName: "btn-primary", buttonText: "選擇照片", iconName: "glyphicon-inbox"});
</script>


</body>
</html>
