
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


<style>
.toast {
    position: absolute;
}
</style>


<div class='toast' id='toastBase'>
	<div class='name'></div>
	<div class='text'></div>
	<div class='image'
	style="background-image: url('');
	  background-size: contain;
	  background-position: center;
	  background-repeat: no-repeat;
	  position: absolute;
	  height: 300px;
	  width: 300px;"></div>
</div>


<script>

var toasts = <%- JSON.stringify(toasts) %>;


candidates = [];
for (i = 0; i < toasts.length; i++) {
	var c = $('#toastBase').clone();
	c.find('.name').text(toasts[i].name);
	c.find('.text').text(toasts[i].text);
	c.find('.image').css('background-image', "url(authorized/" + toasts[i].image + ")");
	c.attr('id', 'toast' + i);

	c.hide();
	$('#toastBase').after(c);
	//candidates.push(c);
}

var count = 300;
var lastOne = -1;

function reset() {
	count = 300;
}

function draw() {
	if (-1 != lastOne) {
		$('#toast' + lastOne).hide();
	}

	count--;
	var random = Math.floor((Math.random() * toasts.length));
	if (1 != toasts.length) {
		while (random == lastOne) {
			random = Math.floor((Math.random() * toasts.length));
		}
	}
	console.log("count = " + count + " random = " + random);
	$('#toast' + random).show();
	lastOne = random;
	if (count > 0) {
		setTimeout(draw, interval(count))
	}
}

function interval(count) {
	if (count > 100) {
		return 10;
	} else if (count > 50) {
		return 50;
	} else if (count > 10) {
		return 100;
	} else if (count > 4) {
		return 500;
	} else {
		return 800;
	}
}

</script>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<button onclick='reset(); if (toasts.length != 0) {draw();}'>抽獎囉</button>
