<!DOCTYPE html>
<html>
<head>

<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


<style>
.toast {
	left: 0;
	top: 0;
    position: absolute;
}
</style>

<meta charset="UTF-8">
</head>
<body>

<div class='toast' id='toastBase' style="height:100%; width:100%; background: #DDDDEE;">
	<h1>
		<div style="text-align: center;">
			<span class='name' style="color: blue"></span><span>&nbsp;說：</span><br>
			<span class='text' style="display:block; margin: 0 auto; word-wrap:break-word; width:70%"></span>
		</div>
	</h1>
	<div class='image'
	style="background-image: url('');
	  background-size: contain;
	  background-position: center;
	  background-repeat: no-repeat;
	  height: 80%;
	  width: 80%;
	  display:block;
	  margin: 0 auto;">
    </div>
</div>


<script>

var toasts = <%- JSON.stringify(toasts) %>;


candidates = [];
for (i = 0; i < toasts.length; i++) {
	var c = $('#toastBase').clone();
	c.find('.name').text(toasts[i].name);
	c.find('.text').text(toasts[i].text);
	c.find('.image').css('background-image', "url(authorized/" + toasts[i].image + ")");
	c.attr('id', 'toast' + i);

	c.hide();
	$('#toastBase').after(c);
	//candidates.push(c);
}

var count = 300;
var lastOne = -1;

function reset() {
	count = 300;
}

function draw() {
	if (-1 != lastOne) {
		$('#toast' + lastOne).fadeOut(1000);
	}

	var random = (lastOne + 1) % toasts.length;
	console.log(" random = " + random);
	$('#toast' + random).fadeIn(1000);
	lastOne = random;

	setTimeout(draw, 5000)

}

if (0 != toasts.length) {
	draw();
}
</script>

</body>
</html>
