<!DOCTYPE html>
<html>
<head>

<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<style>
.toast {
	left: 0;
	top: 0;
    position: absolute;
    z-index: -1
}
.label-as-badge {
    border-radius: 1em;
}
</style>

<meta charset="UTF-8">
</head>
<body>

<span style="float: right; margin: 0 auto; display:inline-block;" class="label label-primary label-as-badge">
	<h5>留言人數: <span id="count"></span></h5>
</span>

<div class='toast' id='toastBase' style="height:100%; width:100%; background: #DDDDEE; display: none;">
	<h1>
		<div style="text-align: center;">
			<span class='name' style="color: blue"></span><span>&nbsp;說：</span><br>
			<span class='text' style="display:block; margin: 0 auto; word-wrap:break-word; width:70%"></span>
		</div>
	</h1>
	<div class='image'
	style="background-image: url('');
	  background-size: contain;
	  background-position: center;
	  background-repeat: no-repeat;
	  height: 80%;
	  width: 80%;
	  display:block;
	  margin: 0 auto;">
    </div>
</div>


<script>


var index = 0;
var lastOne = -1;
var newToasts = <%- JSON.stringify(toasts) %>;
var toasts = [];


updateToasts(newToasts);

if (0 != toasts.length) {
	draw();
}

setInterval(updateToastsFromServer, 60000);

function updateToastsFromServer() {
	$.get( "get-toasts", function(newToasts) {
		updateToasts(newToasts);
	});
}

function draw() {
	if (-1 != lastOne) {
		$('#toast' + lastOne).fadeOut(1000);
	}

	var random = (lastOne + 1) % toasts.length;
	console.log(" random = " + random);
	$('#toast' + random).fadeIn(1000);
	lastOne = random;

	setTimeout(draw, 5000)

}

function updateToasts(newToasts) {
	for (i = 0; i < newToasts.length; i++) {
		var found = false;
		for (j = 0; j < toasts.length; j++) {
			if (newToasts[i].id === toasts[j].id) {
				found = true;
				break;
			}
		}

		var t;
		if (found) {
			t = $('#toast' + toasts[j].index);
			if (toasts[j].serial < newToasts[i].serial) {
				t.find('.name').text(newToasts[i].name);
				t.find('.text').text(newToasts[i].text);
				var d = new Date();
				t.find('.image').css('background-image', "url(authorized/" + newToasts[i].image + "?" + d.getTime() + ")");
				newToasts[i].index = toasts[j].index;
				toasts[j] = newToasts[i];
			}
		} else {
			newToasts[i].index = index++;
			t = $('#toastBase').clone();
			t.attr('id', 'toast' + newToasts[i].index);
			$('#toastBase').after(t);
			t.find('.name').text(newToasts[i].name);
			t.find('.text').text(newToasts[i].text);
			t.find('.image').css('background-image', "url(authorized/" + newToasts[i].image + ")");
			toasts.push(newToasts[i]);
		}
	}
	$('#count').text(toasts.length);
}

</script>

</body>
</html>
